+++
title = "Upbeat Tales"
linkTitle = "Upbeat Tales"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="primary" >}}
{{< /blocks/cover >}}

{{< blocks/lead color="primary" icon="fab fa-spotify" title="Check Out the Latest Episode" >}}
    <p class="text-md-center"><i>Links to alternate platforms are at the bottom of this page</i></p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/4TJtCRn0R2lWRKHo3Fd0WB?utm_source=generator" width="100%" height="242" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{{< /blocks/lead >}}

{{< blocks/section color="dark" icon="fa-feather" title="Featured Writers" >}}
{{% blocks/feature icon="fab fa-twitter" title="Rick Danforth" url="https://twitter.com/Rick_and_Write" %}}
<p class="text-md-left">Rick Danforth is a BSFA award shortlisted author from Yorkshire, England, where he works as a Systems Architect to fund his writing habit. When not working valiantly in the plot mines, he can be found doing Brazilian Jiu-Jitsu, a type of involuntary yoga with uncomfortable pyjamas.</p>
<p class="text-md-left">His short fiction can be found in Hexagon, Translunar Traveler’s Lounge, and many other places.</p>
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-twitter" title="Ian Kinder" url="https://twitter.com/CuddlebugKaiju" %}}
<p class="text-md-left">Ian Kinder is an amateur in the classical sense— he writes for the love of it. He is for the moment a bartender, formerly a paralegal, formerly a mental health caretaker, formerly a TV technician, formerly a grocery clerk. If he isn't writing or job hunting, he is probably acting in one of his local community theaters.</p>
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-twitter" title="Eddie Knight" url="https://twitter.com/the_eddieknight" %}}
<p class="text-md-left">Eddie Knight has been a technical leader in organizations ranging from financial services to software security, enabling him to gain the wealth of experience and insight that he brings as a speaker, author, and strategist.</p>
<p class="text-md-left">His most recent work is <a href="https://www.amazon.com/Nix-Records-Mechanocene-Eddie-Knight-ebook/dp/B0C9XJDFGY">Nix</a>, a cybercrime technothriller about a family man tech executive who's life gets turned upside down when his AI and Robotics company draws international attention.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}